:root{
    --radical-blue: #37d3de;
    --radical-pink: #ff30f1;
    --radical-pink-hover: #d126c6;
    --radical-gray: #3A3A3A
}

body {
    font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    background-color: black;
}


.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

.fullscreen-bg__video {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.25;
}

@media (max-aspect-ratio: 16/9){
    .fullscreen-bg__video {
        height: 100%;
    }
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
        width: 100%;
  }
}
/* Background 
.fullscreen-bg {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
}

.fullscreen-bg__video {
  opacity: 0.25;
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
    left: auto;
    right: 0;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
    bottom: 0;
    top: auto;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('images/background.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

/* Container */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 2em;
}
.container > div {
    margin: 0 .1em;
}

/* Form */
#mc_embed_signup{
    background: #fff;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    width: 40%;
    margin: 5em auto 3em;
    
    color: white;
    background-color: var(--radical-gray);
    border: 3px solid var(--radical-pink);
    box-shadow: 0 0 50px var(--radical-blue);
}

#mc_embed_signup h1 {
    text-align: center;
}

#mc_embed_signup p {
    font-size: 16px;
}

#mc_embed_signup img {
    width: 100px;
}

#mc_embed_signup form {
    text-align:center;
    padding:0 0 2em 0;
}
.mc-field-group { /* positions input field horizontally */
    display: inline-block;
}

#mc_embed_signup label {
    display:block;
    font-size:20px;
    padding-bottom:10px;
    font-weight:bold;
}

#mc_embed_signup input.email{
    font-size: 16px;
    border: 1px solid var(--radical-pink);
    box-shadow: 0 0 10px var(--radical-pink);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing:border-box;
    height:32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width:350px;
    vertical-align:top;

}

#mc_embed_signup .clear {/* positions button horizontally in line with input */
    display: inline-block;
}

#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: var(--radical-pink);
    box-shadow: 0 0 10px var(--radical-pink);
    box-sizing:border-box;
    height:32px;
    line-height:32px;
    padding:0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
    background-color:var(--radical-pink-hover);
    cursor:pointer;
}

#mc_embed_signup div#mce-responses {
    float:left;
    top:-1.4em;
    padding:0em .5em 0em .5em;
    overflow:hidden;
    width:90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin:1em 0;
    padding:1em .5em .5em 0;
    font-weight:bold;
    float:left;
    top:-1.5em;
    z-index:1;
    width:80%;
}

#mc_embed_signup #mce-error-response {
    display:none;
}

#mc_embed_signup #mce-success-response {
    color:#529214; display:none;
}

#mc_embed_signup label.error {
    display:block;
    float:none;
    width:auto;
    margin-left:1.05em;
    text-align:left;
    padding:.5em 0;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

/* Calendar */
#gcf-simple {
    width: 50%;
    margin: 0 auto;
    
    color: white;
    background-color: var(--radical-gray);
    border: 3px solid var(--radical-pink);
    box-shadow: 0 0 50px var(--radical-blue);
}

#calendar_embed{
    width: 145px;
    height: 17px;
    overflow: hidden;
    margin: .2em .6em;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
iframe {
    width: 400px;
    height: 400px;
    position: relative;
    left: -271px;
    top: -377px;
    border-width: 0;
    background-color: #ffffff;
}
#calendar_info {
    width: 100%;
    text-align: right;
    font-size: 14px;
}
#calendar_footer{
    display: flex;
}